#content {
    margin-block: 50px !important;
}

.title {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 05px;
}

.employeDesignation {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}